<% if type == 'new' %>
    <% action_url = albums_url %>
    <% button_text = 'Create Album' %>
<% else %>
    <% action_url = album_url(album) %>
    <% button_text = 'Update Album' %>
<% end %>

<form action="<%= action_url %>" method="post">
    <input 
        type="hidden" 
        name="authenticity_token" 
        value="<%= form_authenticity_token %>">
    
    <% if type == 'edit' %>
        <input type="hidden" name="_method" value="patch">
    <% end  %>

    <label>Name:
        <input type="text" name="album[name]" value="<%= album.name %>">
    </label>

    <label for="album-band">Band</label>
    <select name="album[band_id]" id="album-band">
        <% Band.all.each do |band| %>
            <option 
                <%= "selected" if album.band_id == band.id %>
            value="<%= band.id %>">
            <%= band.name %>
            </option>
        <% end %>
    </select>

    <br>

    <label for="album_live_t">Live</label>
    <input type="radio" name="album[live]" id="album_live_t"
    <%= "checked" if album.live %>>

    <label for="album_live_f">Studio</label>
    <input type="radio" name="album[live]" id="album_live_f"
    <%= "checked" if !album.live %>>

    <br>

    <label>Year:
        <input type="number" name="album[year]" value="<%= album.year %>">
    </label>

    <br>

    <input type="submit" value="<%= button_text %>">

</form>